<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchValue" placeholder="Search">
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<table><tr>
  <td>
<button color="accent" (click)="addSubject()" mat-raised-button>Add Patient</button>
&nbsp;
<button color="accent" mat-raised-button>Manage Testers</button>
&nbsp;
<button color="primary" mat-raised-button>Refresh all data</button>
&nbsp
<mat-button-toggle color="warning" [(ngModel)]="showall" mat-raised-button>{{ showall?"Hide All":"Show All" }}</mat-button-toggle>
</td>

<td><mat-spinner diameter="20" mode="determinate" value="{{ handset.data.indexPct }}"></mat-spinner></td>
<td><mat-spinner diameter="20" mode="determinate" value="{{ handset.data.thumbPct }}"></mat-spinner></td>
<td><mat-spinner diameter="20" mode="determinate" value="{{ handset.data.pinkyPct }}"></mat-spinner></td>
</tr></table>

<mat-card *ngIf="selected">
 <table> <tr> <td>{{ selected.Name }}</td> <td>{{ selected.OpId }}</td><td> {{ selected.UuId }}</td> <td><button color="primary" (click)="editSubject(selected)"  mat-button>Edit</button></td> <td><button color="warn" mat-raised-button>Begin Test</button></td></tr>
 </table> 
</mat-card>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
    <td mat-cell (click)="selectSubject(element)" *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Dob">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> DoB </th>
    <td mat-cell (click)="selectSubject(element)" *matCellDef="let element"> {{element.Dob}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Social">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Social </th>
    <td mat-cell (click)="selectSubject(element)" *matCellDef="let element"> {{element.Social}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="OpId">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Alt Id </th>
    <td mat-cell (click)="selectSubject(element)" *matCellDef="let element"> {{element.OpId}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="UuId">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> System Id </th>
    <td mat-cell (click)="selectSubject(element)" *matCellDef="let element"> {{element.UuId}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
