<mat-grid-list cols="1" rowHeight="6em">
	<mat-grid-tile>
		<h2>Red Oak Instruments, LLC</h2>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field>
			<input #user matInput placeholder="User Name" [formControl]="form" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.Name}}</mat-option>
    </mat-autocomplete>
   </mat-grid-tile>
    <mat-grid-tile>
 <mat-form-field>
   <input type="password" #pass (keyup)="0" matInput placeholder="Password">
 </mat-form-field>
    </mat-grid-tile>
  <mat-grid-tile>   
<button (click)="auth.SignIn(findUser(user.value), pass.value)" mat-raised-button>Log In</button> 
  </mat-grid-tile>
</mat-grid-list>